#models{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 60vh;
}

body {
  padding: 0;
  margin: 0;
}

header{
  display: flex;
  flex-direction: row;
  background-color: #333333;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}
header img{
  width: 40px;
  height: 60px;
}

#logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#main{
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav{
  background-color: #e7e7e749;
  justify-content: space-between;
  height: 50%;
  border-right: #33333360 solid 2px;
  transition: transform 0.4s ease-in-out;
  transform: translateX(-120px);
  transform-origin: left;
}
nav div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}
nav div a{
  text-decoration: none;
  color: black;
}

nav.show{
  transform: translateX(0px);
}

#arrowNav{
  transition: transform 0.4s ease-in-out;
  transform: rotate(-180deg) translateX(120px);
  cursor: pointer;
}

#arrowNav.show{
  transform: rotate(0deg) translateX(0);
}

#bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
}

#specs{
  background-color: #7b7b7b91;
  height: 18vh;
  width: 80vw;
}

#box{
  border: 2px solid #cc50e5;
   padding: 10px;
   text-align: center;
   width: 90%;
   height: 60vh;
   overflow: hidden;
   margin-top: 3%;
   background-color: black;
   margin-bottom: 1%;
}

@media screen and (max-width: 760px) {
  .App{
    height: 30dvh;
  }
  #box{
    height: 30dvh;
  }
}

  