:root {
  --primary: 5, 76%, 42%, 100%;

  --greyBackground: 0, 0%, 20%, 100%;
}

#models{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 60vh;
}

body {
  padding: 0;
  margin: 0;
}

header{
  display: flex;
  flex-direction: row;
  background-color: hsl(var(--greyBackground));
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  min-height: 10vh;
}
header img{
  width: 40px;
  height: 60px;
}

#logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(187, 39, 26);
}

#main{
  display: flex;
  flex-direction: row;
  background-image: url("../src/assets/HomePageBG.svg");
  min-height: 90vh;
}
nav{
  background-color: #e7e7e749;
  justify-content: space-between;
  border-right: #33333360 solid 2px;
  transition: transform 0.4s ease-in-out;
  transform: translateX(-120px);
  transform-origin: left;
  min-height: 90vh;
}
nav div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav div a{
  text-decoration: none;
  color: black;
}

nav.notShow{
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

nav.show{
  display: flex;
  flex-direction: column;
  transform: translateX(0px);
  min-height: 90vh;
}

#arrowNav{
  transition: transform 0.4s ease-in-out;
  transform: rotate(-180deg) translateX(120px);
  cursor: pointer;
}

#arrowNav.show{
  transform: rotate(0deg) translateX(0);
}

#bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
}

#specs{
  background-color: #7b7b7b91;
  height: 18vh;
  width: 80vw;
}

#box{
  border: 2px solid #cc50e5;
   padding: 10px;
   text-align: center;
   width: 90%;
   height: 60vh;
   overflow: hidden;
   margin-top: 3%;
   background-color: black;
   margin-bottom: 1%;
}

#loginPage {
  background-color: hsl(var(--greyBackground));
  height: 100vh;
}

#logoLoginPage {
  color: rgb(187, 39, 26);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 12rem;
}

#formBlock {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 5rem;
  gap: 2rem;
}


#formBlock p {
  color: white;
  font-size: small;
}

#formBlock span a{
  color: hsl(var(--primary));
  text-decoration: none;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: auto;
  color: white;
}

.formRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.formRow label {
  margin-right: 1rem;
}

.formRow input {
  padding: 0.3rem;
}

.verifyButton {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: 100%;
}

.verifyButton button {
  padding:0.4rem;
  border:none;
}

.verifyButton button:hover {
  background-color: hsl(var(--primary));
  color:white;
}

#navMenu {
  min-height: 80vh;
}

#content {
  background-color: #7b7b7b91;
  width: 83%;

}

@media (max-width: 600px) {
  .formRow {
    flex-direction: column;
  }
  .formRow input {
    width: 100%;
  }
}
@media screen and (max-width: 760px) {
  .App{
    height: 30vh;
  }
  #box{
    height: 30vh;
  }
}

  